/config.json
/geckodriver.log
/gitattributes.txt
/lz4.txt
/model.bin
/README.md
/tokenizer.json
/translated.srt
/translation.log
/vocabulary.txt
/Whisper.dll
/WhisperDesktop.exe
/강의1.srt
/대학원생의 마인드셋.mp4
/컷편집.prproj